<h1 class="text-center mb-5">Admin Dashboard</h1>
<h3 class="text-center mb-3">Restaurants</h3>
<%= link_to new_restaurant_path do %>
  <button class="btn btn-info mb-3"><%= fa_icon 'plus'%> Add New Restaurant</button>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Total Items</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant|%>
      <tr>
        <th scope="row"><%= restaurant.id %></th>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.items.count %></td>
        <td><%= link_to edit_restaurant_path(restaurant) do%>
          <%= fa_icon "pencil", class: "text-warning" %>
        <% end %>
        <%= link_to restaurant, method: :delete, data: {confirm: "Are you sure?"} do%>
          <%= fa_icon "trash", class: "ml-3 text-danger" %>
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
