<h1 class='text-center mb-5'>Admin Dashboard</h1>
<%# Restaurants %>
<h3 class='text-center mb-3'>Restaurants</h3>
<%= link_to new_restaurant_path do %>
  <button class='btn btn-info mb-3'><%= fa_icon 'plus'%> Add New Restaurant</button>
<% end %>
<%= render 'restaurants/restaurant_table_admin' %>
<%# Categories %>
<h3 class='text-center mt-5 mb-3'>Categories</h3>
<%= link_to new_category_path do %>
  <button class='btn btn-info mb-3'><%= fa_icon 'plus'%> Add New Category</button>
<% end %>
<%= render 'categories/category_table_admin' %>
<%# Orders %>
<h3 class='text-center mt-5 mb-3'>Orders</h3>
<h6><strong>Total number of Orders which are:</strong></h6>
<h6>Ordered: <em><%= orders_status_count(0) %></em></h6>
<h6>Paid: <em><%= orders_status_count(1) %></em></h6>
<h6>Cancelled: <em><%= orders_status_count(2) %></em></h6>
<h6 class='mb-3'>Completed: <em><%= orders_status_count(3) %></em></h6>
<%= form_with url: status_filter_orders_path, method: 'put', class: 'd-flex mb-4 align-items-center' do |f| %>
  <span>Browse order by status</span>
  <%= select_tag :status, options_for_select(orders_status_options), class: 'form-control ml-2 w-15' %>
  <%= f.submit 'Search', class: 'ml-2 btn btn-dark'%>
<% end %>
<%= render 'orders/order_table_admin' %>
<%= render 'common/back_btn' %>
