<h6><strong>Order ID:</strong> <%= @order.id %></h6>
<h6><strong>Order initiated at:</strong> <%= format_time(@order.created_at) %></h6>
<h6><strong>Order Status:</strong><em><%= @order.status.titleize %></em>, Last Modified at: <%= format_time(@order.updated_at) %></h6>
<h6><strong>Customer Name:</strong> <%= @order.user.full_name %></h6>
<h6><strong>Customer Email:</strong> <%= @order.user.email %></h6>
<h6><strong>Restaurant:</strong> <%= @order.restaurant.name %></h6>
<table class='mt-5 table table-hover'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Item</th>
      <th scope='col'>Quantity</th>
      <th scope='col'>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'cart_order_item', collection: @order.cart_order_items, as: :single_cart_order_item%>
    <tr class='table-secondary'>
      <td></td>
      <td></td>
      <th>Total Price: </th>
      <th>Rs. <%= @order.total_price %></th>
      <td></td>
    </tr>
  </tbody>
</table>
<%= render 'common/back_btn' %>
