<h1 class="text-center mb-5">Order Details</h1>
<h6><strong>Order ID:</strong> <%= @order.id %></h6>
<h6><strong>Order initiated at:</strong> <%= @order.created_at.to_time.strftime('%B %e at %l:%M %p') %></h6>
<h6><strong>Order Status:</strong> <%= @order.status.titleize %>, Last Modified at: <%= @order.updated_at.to_time.strftime('%B %e at %l:%M %p') %></h6>
<h6><strong>Restaurant:</strong> <%= @order.restaurant.name %></h6>
<table class="mt-5 table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @order.cart_order_items.each do |coi|%>
      <tr>
        <th scope="row"><%= coi.item.id %></th>
        <td><%= coi.item.name %></td>
        <td><%= coi.quantity %></td>
        <td>Rs. <%= coi.quantity.to_i * coi.item.price %></td>
        <td><%= link_to 'View Item', restaurant_item_path(coi.item), class: 'btn btn-dark'%></td>
      </tr>
    <% end %>
    <tr class="table-secondary">
      <td></td>
      <td></td>
      <th>Total Price: </th>
      <th>Rs. <%= @order.total_price %></th>
      <td></td>
    </tr>
  </tbody>
</table>
