<tr>
  <th scope='row'><%= cart_item_counter + 1 %></th>
  <td><%= cart_item.item.name %></td>
  <td id='quantity-cart-<%= cart_item.id %>'><%= cart_item.quantity %></td>
  <td>Rs. <%= cart_item.item.price %></td>
  <td class='text-center'>
    <%= form_with url: cart_items_update_path(id: cart_item), method: 'put' do |f| %>
      <%= f.hidden_field :quantity, value: cart_item.quantity %>
      <%= f.button '-', value: "remove", id: "dec-btn-cart-item-#{cart_item.id}", class: 'btn quantity-btn mr-2', disabled: cart_item.quantity == 1, type: 'submit' %>
      <%= f.button '+', value: "add" , class: 'btn quantity-btn', type: 'submit' %>
    <% end %>
  </td>
  <td class='text-center'>
    <%= link_to(raw(fa_icon 'trash', class: 'text-danger cart-delete-icon'), cart_items_destroy_path(id: cart_item.id), method: 'delete', data: {confirm: 'Are you sure?'})%>
  </td>
</tr>
