<h1 class='text-center mb-3'>Cart</h1>
<% if @cart.nil? %>
  <h6 class='text-center'>Cart is empty. Start filling up your basket.</h6>
<% else %>
  <table class='table table-hover'>
    <caption>Total items in cart: <%= @cart.items.count %></caption>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Item Name</th>
        <th scope='col'>Quantity</th>
        <th scope='col'>Price</th>
        <th scope='col' class='text-center'>Change Quantity</th>
        <th scope='col' class='text-center'>Remove from Cart</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'cart_item', collection: @cart.cart_order_items, as: :cart_item%>
      <tr class='table-secondary'>
        <td></td>
        <td></td>
        <td class='font-weight-bold'>Total Price</td>
        <td id='total-price-cart'>Rs. <%= @cart.total_price %></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Checkout', orders_path, method: 'post', class: 'btn btn-dark' %>
  <%= link_to 'Clear Cart', @cart, method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
<% end %>
<%= render 'common/back_btn' %>
