<div class='alert alert-dismissible fade show' id='flash' role='alert'></div>
<h1 class='text-center' id='heading-restaurant'>Edit Restaurant - <%= @restaurant.name %></h1>
<%= render 'form' %>
<h3 class='my-4 text-center'>Restaurant Items</h3>
<%= link_to new_restaurant_item_path(@restaurant) do %>
  <button class='btn btn-info mb-3'><%= fa_icon 'plus'%> Add New Item</button>
<% end %>
<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Name</th>
      <th scope='col'>Category</th>
      <th scope='col'>Price</th>
      <th scope='col'>Retired</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'restaurants/restaurant_item', collection: @restaurant.items, as: :item %>
  </tbody>
</table>
