<nav class='navbar'>
  <div>
    <%= link_to 'Dinner Dash', root_path, class: 'logo' %>
  </div>
  <div class='d-flex align-items-center'>
    <% if user_signed_in? %>
      <div class='dropdown'>
        <button class='dropdown-link dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          <%= fa_icon 'user', class: 'user-icon' %>
          <%= current_user.full_name %>
        </button>
        <div class='dropdown-menu dropdown-menu-right'>
          <button class='dropdown-item' type='button'>
            <%= fa_icon 'cog' %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item-link' %>
          </button>
          <button class='dropdown-item' type='button'>
            <%= fa_icon 'sticky-note' %>
            <%= link_to 'My Orders',  orders_path, class: 'dropdown-item-link' %></button>
          <% if current_user.role_admin? %>
            <button class='dropdown-item' type='button'>
              <%= fa_icon 'lock' %>
              <%= link_to 'Admin Dashboard',  admins_index_path , class: 'dropdown-item-link' %></button>
          <% end %>
          <div class='dropdown-divider'></div>
          <button class='dropdown-item' type='button'>
            <%= fa_icon 'sign-out' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item-link' %>
          </button>
        </div>
      </div>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-light mr-3'%>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-outline-light mr-3'%>
    <% end %>
    <%= link_to carts_path do%>
      <div class='cart-filled-div'>
        <span class='cart-badge badge badge-danger <% show_cart_badge %>' id='cart-badge'><%= cart_item_count %></span>
        <%= fa_icon 'shopping-cart', class: 'cart-icon' %>
      </div>
    <% end %>
  </div>
</nav>
